@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&display=swap');

* {box-sizing: border-box;}

img {max-width: 100%;}

a {text-decoration: none;}

h1, h2 {font-family: 'Roboto Slab' ,'Times New Roman', Times, serif;}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: white solid 1px;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 15% 1fr 1fr 1fr 15%;
    grid-template-rows: 350px 1fr 6rem;
    row-gap: 1.5rem;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    color: #60556a;
}

header {
    grid-column: 1 / span 6;
    background-image: url(../images/titelbild-home-1920x350.png);
    background-size: cover;
    background-position: bottom;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

#senioren header {background-image: url(../images/titelbild-senioren-1920x450.jpg);}
#studenten header {background-image: url(../images/titelbild-studenten-1920x450.jpg);}
#faq header {background-image: url(../images/titelbild-faq-1920x450.jpg);}
#projekttraeger header {background-image: url(../images/titelbild-projekttraeger-1920x450.jpg);}
#zimmerangebote header {background-image: url(../images/titelbild-zimmerangebote-1920x450.jpg);}
#anmeldung header {background-image: url(../images/titelbild-anmeldung-1920x450.jpg);}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #5e2028;
    color: #f6f7ed;
    z-index: 2;
    padding: 0 15%;
}

    nav a {
        color: #f6f7ed;
        display: inline-block;
        margin: 0.75rem;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

.logo {width: 125px;}

.resposive-logo {display: none;}

.dropdown .dropdown-content {
    position: absolute;
    background-color: #f6f7ed;
    padding: 0 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 6px;
    display: none;
    z-index: 3;
}

    .dropdown-content a {
        margin: 1rem 0;
        display: block;
        color: #60556a;
    }

    .dropdown-content a:hover {color: #ae88ae;}

    .dropdown:hover .dropdown-content {display: block;}

    .dropdown img {
        width: 0.5rem;
        margin: 0 0.5rem;
    }

.login {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.border {
    width: 1px;
    height: 1rem;
    background-color: #f6f7ed;
}

#angebote {
    color: #60556a;
    background-color: #f6f7ed;
    padding: 0.5rem 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#angebote:hover {
    background-color: #98545d;
    color: #f6f7ed;
}

.heroimage {
    padding: 0 15%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
}

    .heroimage h2 {
        color: #60556a;
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 0;
        border-bottom: none;
    }

    .heroimage form input[type=text], .heroimage form select{
        border: none;
        box-shadow: inset 1px 1px 6px #60556a5f;
        padding: 0.5rem 0.5rem;
        width: 200px;
        margin: 0 0.75rem 0 0;
        border-radius: 3px;
        background-color: white;
        color: #98545d;
    }

    .heroimage form input[type=submit] {
        color: #f6f7ed;
        background-color: #8a668a;
        padding: 0.5rem 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-transform: uppercase;
        width: 120px;
        border-radius: 0;
        cursor: pointer;
        border: none;
    }

    .heroimage form input[type=submit]:hover {background-color: #ae88ae;}
        
    .heroimage form img {
        height: 35px;
        margin-right: 1rem;
    }

.links, .heroimage form, .footernav, .socialmedia {
    display: flex;
    align-items: center;
}

main {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

h1, section, article, .accordion-container {grid-column: 1 /  span 3;}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.5rem;
    margin: 1rem 0;
}

    section h2, h3, p {margin: 0.5rem 0;}

    section h2, section p, section h3 {grid-column: 1 /  span 6;}

    section h3 {font-size: 1rem;}

    section a {
        color: #60556a;
        font-weight: 700;
    }

figure {
    margin: 1.75rem;
    text-align: center;
}

figcaption {font-weight: 700;}

article {
    background-size: cover;
    padding: 3rem;
    color: #f6f7ed;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #46234f;
}

    article a {
        color: #f6f7ed;
        background-color: #8a668a;
        padding: 0.5rem 1.5rem;
        display: inline-block;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 1rem 1rem 0 0;
    }

    article a:hover {background-color: #ae88ae;}

    article h2 {margin: 0 0 1rem 0;}

    article p {max-width: 600px;}

#article-senioren {background-image: url(../images/senioren.jpg);}
#article-studenten {background-image: url(../images/studenten.jpg);}
#article-mitgliedschaft {background-image: url(../images/mitgliedschaft.jpg);}
#article-kloenschnack {background-image: url(../images/kloenschnack.jpg);}
#article-anmeldung {background-image: url(../images/anmeldung.jpg);}
#article-faq {
    background-image: url(../images/faq.jpg);
    grid-column: 1 /  span 2;
}
#article-faq p {max-width: 350px;}


.leserbrief {
    max-width: 600px;
    text-align: center;
    margin: 3rem auto;
    grid-column: 1 /  span 3;
}

.leserbrief p {margin: 1rem 0;}

.socialmedia img {width: 20px;}

.burgermenu {display: none;}

#burgermenu-icon {width: 20px;}
#underline {border-bottom: 1px solid #60556a;}
#close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
}

#faq { grid-column: 1 / span 2;}

address {
    padding: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    background-color: #f6f7ed;
    font-style: normal;
    grid-column: 3 / span 1;
}
    
    address img {
        border-radius: 100%;
        width: 125px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    
    address a {
        display: block;
        background-color: #8a668a;
        color: #f6f7ed;
        padding: 0.5rem 1.5rem;
        margin-top: 0.5rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

/* Quelle: w3schools - accordion */
.accordion {
    background-color: #f6f7ed;
    color: #60556a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active, .accordion:hover {
    background-color: #98545d; 
    color: #f6f7ed;
}

.panel {
    padding: 1rem 1.5rem;
    display: none;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1rem;
}
    
    .angebot-infocontainer {
        grid-column: 1 /  span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: #f6f7ed;
    }
    
    .angebot-infocontainer img {
        object-fit: cover;
        height: 250px;
        width: 100%;
    }
    
    .angebot-infotext {
        padding: 2.5rem;
        position: relative;
        grid-column: 2 / span 3;
    }
    
    .angebot-infotext h2 {margin-top: 0;}
    
    .angebot-infotext ul {padding-left: 1rem;}
    
    .angebot-infotext p {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
    }
    
    .angebot-infotext a {
        background-color: #8a668a;
        color: #f6f7ed;
        padding: 0.5rem 1.5rem;
        position: absolute;
        bottom: 2.5rem;
        right: 2.5rem;
    }

    .angebot-infotext a:hover {background-color: #ae88ae;}

form {
    grid-column: 1 / span 2;
    margin-bottom: 2rem;
}

    form fieldset {
        border: none; 
        padding: 0;
        margin-bottom: 1rem;
    }

    form input[type=radio] {margin-right: 1rem;}

    form input[type=text], input[type=date], select, textarea {
        display: block;
        width: 100%;
        border: none;
        background-color: #f6f7ed;
        padding: 0.5rem;
        margin-bottom: 0.75rem;
    }

    form input[type=checkbox] {
        float: right; 
        margin-top: 1rem;
    }

    form label { 
        margin: 0.75rem 1rem 0.5rem 0; 
        display: inline-block; 
    }

    form a, .panel a {
        color: #98545d;
        font-weight: 700;
    }

    form button {
        color: #f6f7ed;
        background-color: #8a668a;
        padding: 0.5rem 1rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-transform: uppercase;
        width: 120px;
        border-radius: 0;
        border: none;
        margin-right: 1rem;
    }

    .vertical-line {
        width: 100%;
        height: 1px;
        background-color: #60556a;
    }

/* Quelle: w3schools - Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
    
footer {
    grid-column: 1 / span 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e2028;
    color: #f6f7ed;
    padding: 3rem 15%;
}

    footer a {color: #f6f7ed;}

    footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

.footernav .border, .footernav a, .footernav img, .socialmedia a, .socialmedia p {margin: 0.75rem}
    
/* tablet */
@media screen and (max-width: 765px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 400px 1fr 300px;
        row-gap: 0;
    }
    header {
        grid-column: 1 / span 2;
        background-image: url(../images/titelbild-home-600x450.png);
    }
    nav {
        position: relative;
        background-color: #5e2028;
        color: #f6f7ed;
        padding: 1rem;
    }
         nav a {margin: 0;}
    
    .resposive-logo {
        display: block;
        width: 125px;
    }
    .links, .login {display: none;}
    .burgermenu {
        display: block;
        position: relative;
    }
        .burgermenu-container {
            background-color: white;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: 2;
        }
        .burgermenu img {
            width: 10px;
            margin: 0 0.5rem;
        }
        .burgermenu ul {margin: 0;}
        .burgermenu ul ul li {padding-left: 2rem;}
        .burgermenu ul li a {
            border: none;
            padding: 1rem;
            color: #60556a;
            display: block;
        }

    .heroimage {
        padding: 0 1rem;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -120%);
    }
        .heroimage form {
            flex-direction: column;
            align-items: baseline;
            position: relative;
        }
        .heroimage img {
            position: absolute;
            right: -0.5rem;
            top: 0;
            height: 1.5rem;
            width: 1rem;
        }
        .heroimage form input[type=text] {
            margin: 0 0.75rem 1rem 0;
            width: 100%;
        }
        .heroimage form select {
            width: 100%;
            margin-bottom: 1rem;
        }
        .heroimage form input[type=submit] {
            padding: 0.5rem 1rem;
            width: 100%;
        }
        .heroimage h1 {
            border: none;
            font-size: 2rem;
        }

    main {
        grid-column: 1 / span 2;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 0;
        margin: 0 3rem;
    }
    section {
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 3rem;
    }        
        section h2, section p, section h3 {grid-column: 1 /  span 2;}        
        .location a {margin-bottom: 2rem;}
        .location img {width: 100%;}
    
    article {
        padding: 1.5rem;
        margin-bottom: 1rem;
        }
        article a {
            padding: 0.5rem 1.5rem;
            bottom: 2rem;
        }
        article p {max-width: 100vw;}

        #article-senioren {
            background-color: #5e2028;
            background-image: none;
        }
        #article-studenten {
            background-color: #46234f;
            background-image: none;
        }
        #article-mitgliedschaft {
            background-image: none;
        }
        #article-kloenschnack {
            background-color: #5e2028;
            background-image: none;
        }
        #article-anmeldung {
            background-color: #5e2028;
            background-image: none;
        }
        #article-faq {
            background-image: none;
        }
        #article-faq p {max-width: 100%;}

    #senioren, #studenten, #faq, #projekttraeger, #zimmerangebote, #anmeldung {grid-template-rows: 250px 1fr 300px;}

    .leserbrief {
        width: 85%;
        margin: 6rem auto;
    }
        .leserbrief picture {
            margin-bottom: 1rem;
            width: 50%;
        }

    form {grid-column: 1 / span 2;}

    footer {
        grid-column: 1 / span 2;
        flex-direction: column;
        align-items: flex-start;
        justify-content:start;
        padding: 1rem;
    }
        footer ul li {margin-bottom: 0.5rem;}
        .footernav {
            flex-direction: column;
            align-items: flex-start;

    }
    .border {display: none;}
    #faq, address {grid-column: 1 /  span 2;}
    .angebot-infocontainer {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1.5rem;
    }
    .angebot-infocontainer img {height: 100%;}
    .angebot-infotext {
        padding: 1.25rem;
        position: relative;
        grid-column: 1 / span 2;
    }
    .angebot-infotext p {position: static;}
    .angebot-infotext a {
        position: static;
        display: block;
        text-align: center;
    }
}

/* Mobile */
@media screen and (max-width: 428px){
    main {margin: 0 1rem;}
    section {column-gap: 1.5rem;}    
    .location a {margin-bottom: 0;}
    #senioren header {background-image: url(../images/titelbild-senioren-600x450.jpg);}
    #studenten header {background-image: url(../images/titelbild-studenten-600x450.jpg);}
    #faq header {background-image: url(../images/titelbild-faq-600x450.jpg);}
    #projekttraeger header {background-image: url(../images/titelbild-projekttraeger-600x450.jpg);}
    #zimmerangebote header {background-image: url(../images/titelbild-zimmerangebote-600x450.jpg);}
    #anmeldung header {background-image: url(../images/titelbild-anmeldung-600x450.jpg);}
}

/* kleinere Desktops */
@media screen and (max-width: 963px) {
    nav {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    main {
        grid-column: 1 / span 5; 
        margin: 0 1rem;
    }
}